NMVS - WSDL - XSD NMVS-BP-Core V4/xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/I1_SinglePack.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:types.nmvs.eu:v4.0"
		targetNamespace="urn:types.nmvs.eu:v4.0" elementFormDefault="qualified"
		attributeFormDefault="qualified">
	<include schemaLocation="NMVS_Composite_Types.xsd" />
	<element name="I1_SinglePack" type="tns:I1_SinglePack_Type" />

	<complexType name="I1_SinglePack_Type">
		<complexContent>
			<extension base="tns:Header_Type">
				<sequence>
					<element name="Body" type="tns:RequestData_Type" minOccurs="1"
						maxOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

</schema>	
