NMVS - WSDL - XSD NMVS-BP-Core V4/xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/I4_Bulk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:types.nmvs.eu:v4.0"
        targetNamespace="urn:types.nmvs.eu:v4.0" elementFormDefault="qualified"
        attributeFormDefault="qualified">
	<include schemaLocation="NMVS_Composite_Types.xsd" />
	<element name="I4_Bulk" type="tns:I4_Bulk_Type" />

	<complexType name="I4_Bulk_Type">
		<complexContent>
			<extension base="tns:Header_Type">
				<sequence>

					<element name="Body" type="tns:RequestBulkData_Type"
						minOccurs="1" maxOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

</schema>	
