NMVS - WSDL - XSD NMVS-BP-Core V4/xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/I6_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:types.nmvs.eu:v4.0"
        targetNamespace="urn:types.nmvs.eu:v4.0" elementFormDefault="qualified"
        attributeFormDefault="qualified">
	<include schemaLocation="NMVS_Composite_Types.xsd" />
	<element name="I6_Result" type="tns:I6_Result_Type" />

	<complexType name="I6_Result_Type">
	<complexContent>
			<extension base="tns:Header_Type">
				<sequence>
					
			<element name="Body" type="tns:I6_ResultTransactionData_Type" minOccurs="1" maxOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="I6_ResultTransactionData_Type">
		<sequence>
			<element name="RefNMVSTrxId" type="tns:ExternalTransactionID_Type" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>Transaction-Id generated by NMVS when submitting the original request</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>	
