NMVS - WSDL - XSD NMVS-BP-Core V4/xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/NMVS_Composite_Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:types.nmvs.eu:v4.0" targetNamespace="urn:types.nmvs.eu:v4.0" elementFormDefault="qualified"
        attributeFormDefault="qualified">
    <include schemaLocation="NMVS_Base_Types.xsd"/>
    <include schemaLocation="NMVS_Catalog_Types.xsd"/>

    <complexType name="ResponseHeaderAuthentificationData_Type">
        <sequence>
            <element name="ClientLoginId" type="tns:ClientLoginId_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Unique LoginId of Member</documentation>
                </annotation>
            </element>
            <element name="UserId" type="tns:UserId_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Unique UserId of Member</documentation>
                </annotation>
            </element>
            <element name="SubUserId" type="tns:S35_Normalized_Type" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Id of the Sub-User</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ResponseHeaderTransactionData_Type">
        <sequence>
            <element name="Language" type="tns:IsoLanguageCode_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Language Code for Response</documentation>
                </annotation>
            </element>
            <element name="ClientTrxId" type="tns:ExternalTransactionID_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Transaction-Id of calling system</documentation>
                </annotation>
            </element>
            <element name="NMVSTrxId" type="tns:NMVSTransactionId_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Unique NMV-System TransactionID</documentation>
                </annotation>
            </element>
            <element name="Timestamp" type="tns:Timestamp_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Time of Processing in NMV-System</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ResponseHeaderResultTransactionData_Type">
        <complexContent>
            <extension base="tns:ResponseHeaderTransactionData_Type">
                <sequence>
                    <element name="ReqType" type="tns:CatalogUseCase_Type" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="HeaderResultResponse_Type">
        <sequence>
            <element name="Auth" type="tns:ResponseHeaderAuthentificationData_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Transaction" type="tns:ResponseHeaderResultTransactionData_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Notification" type="tns:Notification_Type" minOccurs="0" maxOccurs="10000"/>
        </sequence>
    </complexType>

    <complexType name="HeaderResponse_Type">
        <sequence>
            <element name="Auth" type="tns:ResponseHeaderAuthentificationData_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Transaction" type="tns:ResponseHeaderTransactionData_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Notification" type="tns:Notification_Type" minOccurs="0" maxOccurs="10000"/>
        </sequence>
    </complexType>

    <group name="O1ResponseBody">
        <sequence>
            <element name="Product" type="tns:ResponseProduct_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Pack" type="tns:ResponsePack_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </group>

    <group name="O5ResponseBody">
        <sequence>
            <element name="Product" type="tns:ResponseProduct_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Pack" type="tns:ResponsePackItem_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </group>

    <complexType name="ResponseTransactionData_Type">
        <sequence>
            <element name="ProductCode" type="tns:ProductIdentifier_Type" minOccurs="1" maxOccurs="1"/>
            <element name="sn" type="tns:SN_Type" minOccurs="1" maxOccurs="1"/>
            <element name="BatchId" type="tns:BATCH_Type" minOccurs="1" maxOccurs="1"/>
            <element name="ExpDate" type="tns:EXP_Type" minOccurs="1" maxOccurs="1"/>
            <element name="NHRN" type="tns:NHRN_Type" minOccurs="0" maxOccurs="1"/>
            <element name="PackState" type="tns:CatalogState_Type" minOccurs="1" maxOccurs="1"/>
            <element name="PackStateReasons" type="tns:CatalogStateReason_Type" minOccurs="0" maxOccurs="1"/>
            <element name="IntermarketFlag" type="boolean" minOccurs="0" maxOccurs="1"/>
            <element name="ExpDateNMVS" type="tns:Date_Type" minOccurs="0" maxOccurs="1"/>
            <element name="ReturnCode" type="tns:ReturnCode_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="RequestAuthHeaderData_Type">
        <sequence>
            <element name="ClientLoginId" type="tns:ClientLoginId_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Unique LoginId of Member</documentation>
                </annotation>
            </element>
            <element name="UserId" type="tns:UserId_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Unique UserId of Member</documentation>
                </annotation>
            </element>
            <element name="Password" type="tns:Password_Type" minOccurs="1" maxOccurs="1"/>
            <element name="SubUserId" type="tns:S35_Normalized_Type" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Id of the Sub-User</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="RequestTransactionHeaderData_Type">
        <sequence>
            <element name="ClientTrxId" type="tns:ExternalTransactionID_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Transaction-Id of calling system</documentation>
                </annotation>
            </element>
            <element name="Language" type="tns:IsoLanguageCode_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Language Code for Response</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="Header_Type">
        <sequence>
            <element name="Header" type="tns:RequestHeaderData_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="RequestHeaderData_Type">
        <sequence>
            <element name="Auth" type="tns:RequestAuthHeaderData_Type" minOccurs="1" maxOccurs="1"/>
            <element name="UserSoftware" type="tns:UserSoftware_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Transaction" type="tns:RequestTransactionHeaderData_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="MessageFrom_Type">
        <sequence>
            <element name="ClientLoginId" type="tns:ClientLoginId_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Unique LoginId of Member</documentation>
                </annotation>
            </element>
            <element name="UserId" type="tns:UserId_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Unique UserId of Member</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="Message_Type">
        <sequence>
            <element name="From" type="tns:MessageFrom_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Content" type="anyType" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>


    <complexType name="ResponsePackItem_Type">
        <complexContent>
            <extension base="tns:ResponsePack_Type">
                <sequence>
                    <element name="ReturnCode" type="tns:ReturnCode_Type" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>


    <group name="O3ResponseResult">
        <sequence>
            <element name="Product" type="tns:ResponseProduct_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Packs" minOccurs="1" maxOccurs="1">
                <complexType>
                    <sequence>
                        <element name="Pack" type="tns:ResponsePackItem_Type" minOccurs="1" maxOccurs="100000"/>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </group>

    <complexType name="ResponseResultTransactionData_Type">
        <sequence>
            <choice minOccurs="0" maxOccurs="1">
                <element name="Message" type="tns:Message_Type" minOccurs="1" maxOccurs="1"/>
                <group ref="tns:O3ResponseResult" minOccurs="1" maxOccurs="1"/>
            </choice>
            <element name="ReturnCode" type="tns:ReturnCode_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="BulkIdTransactionFeedbackData_Type">
        <sequence>
            <element name="ClientTrxId" type="tns:ExternalTransactionID_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Transaction-Id of calling system</documentation>
                </annotation>
            </element>
            <element name="NMVSTrxId" type="tns:NMVSTransactionId_Type" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Unique NMV-System TransactionID</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="BulkIdResultTransactionData_Type">
        <sequence>
            <element name="BulkTransactionList" type="tns:BulkTransactionList_Type" minOccurs="0" maxOccurs="1"/>
            <element name="MixedBulkTransactionList" type="tns:BulkTransactionList_Type" minOccurs="0" maxOccurs="1"/>
            <element name="ReturnCode" type="tns:ReturnCode_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="BulkTransactionList_Type">
        <sequence>
            <element name="Transaction" type="tns:BulkIdTransactionFeedbackData_Type" minOccurs="0" maxOccurs="100000"/>
        </sequence>
    </complexType>


    <complexType name="ProductData_Type">
        <sequence>
            <element name="ProductCode" type="tns:ProductIdentifier_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Name" type="tns:S255_Normalized_Type" minOccurs="0" maxOccurs="1"/>
            <element name="NHRN" type="tns:NHRN_Type" minOccurs="0" maxOccurs="1"/>
            <element name="MahId" type="tns:S255_Normalized_Type" minOccurs="0" maxOccurs="1"/>
            <element name="MahName" type="tns:S255_Normalized_Type" minOccurs="0" maxOccurs="1"/>
            <element name="Wholesalers">
                <complexType>
                    <sequence>
                        <choice>
                            <element name="Wholesaler" type="tns:S255_Normalized_Type" minOccurs="0" maxOccurs="100"/>
                            <element name="WholesalerDetails" type="tns:Wholesaler_Type" minOccurs="0" maxOccurs="100"/>
                        </choice>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <complexType name="O6DownloadMasterdata_ProductList_Type">
        <sequence>
            <element name="Product" type="tns:ProductData_Type" minOccurs="0" maxOccurs="1000000"/>
        </sequence>
    </complexType>

    <complexType name="Wholesaler_Type">
        <sequence>
            <element name="ID" type="tns:S255_Normalized_Type" minOccurs="0" maxOccurs="1"/>
            <element name="Name" type="tns:S255_Normalized_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Street" type="tns:S255_Normalized_Type" minOccurs="0" maxOccurs="1"/>
            <element name="Street2" type="tns:S255_Normalized_Type" minOccurs="0" maxOccurs="1"/>
            <element name="City" type="tns:S255_Normalized_Type" minOccurs="0" maxOccurs="1"/>
            <element name="Postcode" type="tns:S255_Normalized_Type" minOccurs="0" maxOccurs="1"/>
            <element name="CountryCode" type="tns:S255_Normalized_Type" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <group name="O6DownloadMasterdata">
        <sequence>
            <element name="PaginationData" type="tns:Pagination_data" minOccurs="1" maxOccurs="1"/>
            <element name="ProductList" type="tns:O6DownloadMasterdata_ProductList_Type" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </group>

    <complexType name="DownloadMasterdataResponseTransactionData_Type">
        <sequence>
            <group ref="tns:O6DownloadMasterdata" minOccurs="0" maxOccurs="1"/>
            <element name="ReturnCode" type="tns:ReturnCode_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="Pagination_data">
        <sequence>
            <element name="TotalPages" type="tns:TotalPages_Type" minOccurs="1" maxOccurs="1"/>
            <element name="TotalProducts" type="tns:TotalProducts" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="RequestData_Type">
        <sequence>
            <element name="Product" type="tns:RequestProduct_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Pack" type="tns:RequestPack_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="ManualRequestData_Type">
        <sequence>
            <element name="Product">
                <complexType>
                    <sequence>
                        <element name="ProductCode" type="tns:ProductIdentifier_Type" minOccurs="1" maxOccurs="1"/>
                        <element name="NHRN" type="tns:NHRN_Type" minOccurs="0" maxOccurs="1"/>
                    </sequence>
                </complexType>
            </element>
            <element name="Pack" type="tns:RequestPack_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="RequestBulkData_Type">
        <sequence>
            <element name="Product" type="tns:RequestProduct_Type" minOccurs="1" maxOccurs="1"/>
            <element name="Packs">
                <complexType>
                    <sequence>
                        <element name="Pack" type="tns:RequestPack_Type" minOccurs="1" maxOccurs="100000"/>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <complexType name="RequestPack_Type">
        <attribute name="sn" type="tns:SN_Type" use="required"/>
    </complexType>

    <complexType name="ResponsePack_Type">
        <sequence>
            <element name="Reason" type="tns:CatalogStateReason_Type" minOccurs="0" maxOccurs="20"/>
        </sequence>
        <attribute name="sn" type="tns:SN_Type" use="required"/>

        <attribute name="state" type="tns:CatalogState_Type" use="required"/>
    </complexType>

    <complexType name="ProductIdentifier_Type">
        <annotation>
            <documentation>A unique product code and its codeing scheme</documentation>
        </annotation>
        <simpleContent>
            <extension base="tns:ProductCode_Type">
                <attribute name="scheme" type="tns:CatalogProductSchema_Type" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="RequestProduct_Type">
        <sequence>
            <element name="ProductCode" type="tns:ProductIdentifier_Type" minOccurs="1" maxOccurs="1"/>
            <element name="NHRN" type="tns:NHRN_Type" minOccurs="0" maxOccurs="1"/>
            <element name="Batch" type="tns:BaseBatch_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="ProductInfoRef_Type">
        <simpleContent>
            <extension base="string">
                <attribute name="date" type="tns:Date_Type"/>
                <attribute name="modified" type="boolean"/>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="ResponseProduct_Type">
        <sequence>
            <element name="ProductCode" type="tns:ProductIdentifier_Type" minOccurs="1" maxOccurs="1"/>
            <element name="IntermarketFlag" type="boolean" minOccurs="0" maxOccurs="1"/>
            <element name="NHRN" type="tns:NHRN_Type" minOccurs="0" maxOccurs="1"/>
            <element name="ProductInfoRef" type="tns:ProductInfoRef_Type" minOccurs="0" maxOccurs="1"/>
            <element name="Batch" type="tns:ResponseBatch_Type" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="BaseBatch_Type">
        <sequence>
            <element name="Id" type="tns:BATCH_Type" minOccurs="1" maxOccurs="1"/>
            <element name="ExpDate" type="tns:EXP_Type" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="ResponseBatch_Type">
        <sequence>
            <element name="Id" type="tns:S50_Normalized_Type" minOccurs="1" maxOccurs="1"/>
            <element name="ExpDate" type="tns:EXP_Type" minOccurs="0" maxOccurs="1"/>
            <element name="ExpDateNMVS" type="tns:Date_Type" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="UserSoftware_Type">
        <annotation>
            <documentation>Member/Stakeholder software id</documentation>
        </annotation>
        <attribute name="name" type="tns:S255_Normalized_Type" use="required"/>
        <attribute name="supplier" type="tns:S255_Normalized_Type" use="required"/>
        <attribute name="version" type="tns:S10_Normalized_Type" use="required"/>
    </complexType>

    <complexType name="ReturnCode_Type">
        <annotation>
            <documentation>Alphanumeric return code e.g. NMVS_OK_03 or NMVS_ERR_21
            </documentation>
        </annotation>
        <attribute name="code" type="tns:CatalogReturnCode_Type" use="required"/>
        <attribute name="desc" type="tns:ReturnCodeDescription_Type" use="optional"/>
        <attribute name="sub_code" type="tns:S255_Normalized_Type" use="optional"/>
        <attribute name="sub_desc" type="tns:S255_Normalized_Type" use="optional"/>
        <attribute name="alertId" type="tns:AlertId_Type" use="optional"/>
    </complexType>

    <complexType name="Cert_Type">
        <simpleContent>
            <extension base="base64Binary">
                <attribute name="name" type="tns:S100_Normalized_Type"/>
                <attribute name="passphrase" type="tns:Password_Type"/>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="PingRequest">
        <sequence>
            <element name="Input" type="tns:S100_Normalized_Type"/>
        </sequence>
    </complexType>

    <complexType name="PingResponse">
        <sequence>
            <element name="Output" type="tns:S100_Normalized_Type"/>
        </sequence>
    </complexType>

    <complexType name="Notification_Type">
        <annotation>
            <documentation>Alphanumeric notification code e.g. NMVS_NOTIFY_AU_01
            </documentation>
        </annotation>
        <attribute name="notificationCode" type="tns:CatalogNotificationCode_Type" use="required"/>
        <attribute name="notificationDesc" type="tns:NotificationDescription_Type" use="optional"/>
    </complexType>
</schema>
