NMVS - WSDL - XSD NMVS-BP-Core V4/xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/O3_ResultBulk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:types.nmvs.eu:v4.0" targetNamespace="urn:types.nmvs.eu:v4.0" elementFormDefault="qualified"
        attributeFormDefault="qualified">
	<include schemaLocation="NMVS_Composite_Types.xsd" />
	<element name="O3_ResultBulk" type="tns:O3_ResultBulk_Type" />

	<complexType name="O3_ResultBulk_Type">
		<sequence>
			<element name="Header" type="tns:HeaderResultResponse_Type" minOccurs="1" maxOccurs="1" />
			<element name="Body" type="tns:ResponseResultTransactionData_Type" minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>
</schema>	
