NMVS - WSDL - XSD NMVS-BP-Core V4/xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/O4_ResultBulkId.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:types.nmvs.eu:v4.0"
		targetNamespace="urn:types.nmvs.eu:v4.0" elementFormDefault="qualified"
		attributeFormDefault="qualified">
	<include schemaLocation="NMVS_Composite_Types.xsd" />
	<element name="O4ResultBulkId" type="tns:O4_ResultBulkId_Type" />

	<complexType name="O4_ResultBulkId_Type">
		<sequence>
			<element name="Header" type="tns:HeaderResponse_Type" minOccurs="1" maxOccurs="1" />
			<element name="Body" type="tns:BulkIdResultTransactionData_Type" minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>
</schema>	
