NMVS - WSDL - XSD NMVS-BP-Core V4/wsdl/v4/WS_MASTER_DATA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        name="DownloadProductMasterdataServices"
        targetNamespace="urn:services.nmvs.eu:v4.0"
        xmlns:ns="urn:services.nmvs.eu:v4.0"
        xmlns:env="urn:wsdltypes.nmvs.eu:v4.0"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
    
	<wsdl:types>
        <xs:schema xmlns:types="urn:types.nmvs.eu:v4.0" targetNamespace="urn:wsdltypes.nmvs.eu:v4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="urn:types.nmvs.eu:v4.0" schemaLocation="../../xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/I9_DownloadMasterdata.xsd"/>
            <xs:import namespace="urn:types.nmvs.eu:v4.0" schemaLocation="../../xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/O6_DownloadMasterdata.xsd"/>
			<xs:element name="MasterDataPingRequest">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:PingRequest" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="MasterDataPingResponse">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:PingResponse" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G101Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:I9_DownloadMasterdata_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="G101Response">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="types:O6_DownloadMasterdata_Type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
    
	<wsdl:message name="PingRequestMessage">
		<wsdl:part name="messageParameters" element="env:MasterDataPingRequest" />
	</wsdl:message>
	<wsdl:message name="PingResponseMessage">
		<wsdl:part name="messageParameters" element="env:MasterDataPingResponse" />
	</wsdl:message>
	<wsdl:message name="G101RequestMessage">
		<wsdl:part name="messageParameters" element="env:G101Request" />
	</wsdl:message>
	<wsdl:message name="G101ResponseMessage">
		<wsdl:part name="messageParameters" element="env:G101Response" />
	</wsdl:message>
    
	<wsdl:portType name="IMasterDataServices">
		<wsdl:operation name="PingMasterData">
			<wsdl:input message="ns:PingRequestMessage" wsaw:Action="ns:PingRequestMessage" />
			<wsdl:output message="ns:PingResponseMessage" wsaw:Action="ns:PingResponseMessage" />
		</wsdl:operation>
		<wsdl:operation name="G101DownloadProductMasterData">
			<wsdl:input message="ns:G101RequestMessage" wsaw:Action="ns:G101RequestMessage" />
			<wsdl:output message="ns:G101ResponseMessage" wsaw:Action="ns:G101ResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>
    
	<wsdl:binding name="WSHttpBinding_IMasterDataServices" type="ns:IMasterDataServices">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" required="true" />
		<wsdl:operation name="PingMasterData">
			<soap12:operation soapAction="urn:PingMasterData" soapActionRequired="true" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="G101DownloadProductMasterData">
			<soap12:operation soapAction="urn:G101DownloadProductMasterData" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
    
	<wsdl:service name="MasterDataServices">
		<wsdl:port name="Port_MasterDataServices" binding="ns:WSHttpBinding_IMasterDataServices">
			<soap12:address location="http://localhost:8080/WS_MASTER_DATA_V1/MasterDataServicesV40"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
